.comment {
  margin-bottom: 8px;
  padding: 8px 16px;
  word-wrap: break-word;
  box-shadow: 0 2px 4px var(--slate-300);
  background: var(--slate-50);
}
.comment__meta {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}
.comment__meata-author {
  color: var(--slate-700);
  font-weight: bold;
}
.comment__meata-time {
  color: var(--slate-600);
}
.comment__body {
  padding: 8px 0;
}
