.header {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
  background: var(--slate-50);
  border-bottom: 1px solid var(--slate-200);
  padding: 16px 32px;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
}
.header__nav-button {
  background-color: var(--slate-100);
  color: var(--slate-500);
  padding: 4px;
}
.header__nav-button:hover {
  background-color: var(--slate-200);
  color: var(--slate-600);
}
.header__nav-button:active,
.header__nav-button:focus-visible {
  color: var(--slate-600);
}

.header__nav-logo {
  color: var(--primary-700);
}
.header__nav-logo:hover {
  color: var(--primary-800);
}
.header__nav-logo-text {
  display: none;
  font-weight: bold;
}

.header__search-label {
  display: flex;
  align-items: center;
}
.header__search-input {
  width: 100%;
}

@media screen and (min-width: 400px) {
  .header__nav-logo-text {
    display: inline-block;
  }
}

@media screen and (min-width: 700px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__nav {
    padding-bottom: 0;
  }
  .header__search-form {
    flex: 1;
    max-width: 400px;
    margin-left: 1rem;
  }

  .header__nav-button {
    display: none;
  }
}
